@font-face {
    font-family: 'DreamOrphans';
    src: url(../fonts/DreamOrphans/Dream_Orphans.otf) format('opentype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'DreamOrphans';
    src: url(../fonts/DreamOrphans/Dream_Orphans_Bd.otf) format('opentype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Autoradiographic';
    src: url(../fonts/Autoradiographic/autoradiographic_rg.otf) format('opentype');
    font-weight: 400;
    font-style: normal;
}

:root {
    --bg-color: #00183d;
    --title-font-color: #c39f39;
    --content-font-color: #cacaca;
    --bg-modules-item: #fecf67;
    --modules-item-text: #00183d;
    --buy-button-bg: #04AA6D;
}

html,
body {
    background-color: var(--bg-color);
    color: var(--content-font-color);
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    margin-right: 16px;
    margin-left: 16px;
    font-family: 'Autoradiographic', sans-serif;

    @media (min-width: 768px) {
        margin-right: 30%;
        margin-left: 30%;       
    }

    hr {
        width: 20%;
        border: 0.5px solid var(--title-font-color);
    }

    .welcome-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        margin-bottom: 30px;

        .logo {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100%;

            img {
                width: 20%;
            }
        }

        .title-wrapper {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            margin-top: 16px;
            margin-bottom: 16px;
            color: var(--title-font-color);

            .title {
                font-family: 'DreamOrphans', sans-serif;
                font-size: clamp(2.2rem, 5vw, 3rem);
                text-transform: uppercase;
                text-align: center;
                white-space: nowrap;
                width: 100%;
                vertical-align: middle;
                margin: 0;
            }

            .subtitle {
                font-family: 'DreamOrphans', sans-serif;
                font-weight: 400;
                font-size: clamp(1.5rem, 5vw, 2rem);
                text-align: center;
                white-space: nowrap;
                width: 100%;
                vertical-align: middle;
                margin: 0;
            }
        }


        .welcome-text-wrapper {
            width: 100%;
            display: flex;
            justify-content: center;

            p {
                width: 90%;
                text-align: justify;
            }
        }

        .welcome-video-wrapper {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            h1 {
                width: 90%;
                text-align: center;
                font-family: 'DreamOrphans', sans-serif;
                color: var(--title-font-color);
                padding-bottom: 10px;
            }

            .video-wrapper {
                width: 90%;

                .video-player {
                    aspect-ratio: 16/9;
                    width: 100%;
                }

            }
        }
    }

    .modules-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        margin-bottom: 40px;

        .modules-title-wrapper {
            width: 90%;
            display: flex;
            justify-content: center;

            h1 {
                width: 90%;
                text-transform: uppercase;
                text-align: center;
                font-family: 'DreamOrphans', sans-serif;
                color: var(--title-font-color);
            }
        }

        ul {
            display: flex;
            flex-direction: column;
            row-gap: 20px;
            align-items: center;
            padding: 0;
            margin: 0;
            list-style: none;
            position: relative;
            z-index: 1;

            .module-card-item {
                background-color: var(--bg-modules-item);
                width: 90%;
                height: 200px;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                border-radius: 10px;

                @media (min-width: 768px) {
                    width: 40%;    
                    min-width: 350px;
                }

                .module-card-item-content {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    margin-left: 16px;
                    margin-right: 16px;

                    h3 {
                        color: var(--modules-item-text);
                        text-transform: uppercase;
                        text-align: center;
                        font-size: 24px;
                        margin: 0 0 8px 0;
                    }

                    p {
                        text-align: center;
                        font-size: 14px;
                        margin: 0;
                        color: var(--modules-item-text);
                    }
                }

            }

            .module-class-count {
                border-radius: 30px;
                display: flex;
                align-items: center;
                justify-content: center;
                box-shadow: inset 0 0 0 9px var(--bg-modules-item);
                width: 90%;
                height: 100px;
                margin-top: 60px;
                background-color: var(--bg-color);

                @media (min-width: 768px) {
                    width: 428px;
                }

                p {
                    color: var(--bg-modules-item);
                    font-size: 40px;
                    text-align: center;
                    line-height: 80px;
                    margin: 0;
                }
            }

            .dotted-line {
                content: "";
                position: absolute;
                top: 0;
                bottom: 0;
                left: 50%;
                width: 3px;
                border-left: 3px dotted #e9c46a;
                transform: translateX(-50%);
                z-index: -1;
            }

        }
    }

    .teachers-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        margin-top: 10px;
        margin-bottom: 40px;

        .teachers-title-wrapper {
            width: 90%;
            display: flex;
            justify-content: center;

            h1 {
                text-transform: uppercase;
                text-align: center;
                font-family: 'DreamOrphans', sans-serif;
                color: var(--title-font-color);
            }
        }

        .teacher-item {
            display: flex;
            flex-direction: row;
            align-items: center;
            width: 90%;

            @media (min-width: 768px) {
                flex-direction: column-reverse;
            }
            
            .teacher-item-bio {
                width: 50%;
                display: flex;
                flex-direction: column;
                align-items: center;

                h2 {
                    display: inline-block;
                    font-size: larger;
                    text-align: center;
                    font-family: 'DreamOrphans', sans-serif;
                    color: var(--title-font-color);
                    margin: 0 0 8px 0;
                }

                p {
                    text-align: center;
                    margin: 0;
                }
            }

            .teacher-item-portrait {
                width: 50%;
                height: 200px;
                display: flex;

                @media (min-width: 768px) {
                    height: 390px;
                    width: 300px;
                }

                .image-holder {
                    margin: 10px;
                    background-size: cover;
                    border-radius: 10px;
                    width: 100%;
                }

                .heloisa {
                    background-image: url('../img/heloisa_portrait.jpg');
                    background-position: 50% 50%;
                }

                .gerson {
                    background-image: url('../img/gerson_portrait.jpg');
                }
            }
        }

        .reverse {
            @media (min-width: 768px) {
                flex-direction: column;
                margin-top: 40px;
            }
        }
    }

    .price-wrapper {
        display: flex;
        flex-direction: column;
        margin-top: 20px;
        margin-bottom: 40px;

        .price-title-wrapper {
            h1 {
                text-transform: uppercase;
                text-align: center;
                font-family: 'DreamOrphans', sans-serif;
                color: var(--title-font-color);
            }
        }

        .price-values-wrapper {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            h3 {
                font-family: 'Autoradiographic', sans-serif;
                margin: 0;
                width: 100%;
                text-align: center;
                text-transform: uppercase;
            }

            .old {
                font-size: 60px;
                position: relative;
                position: relative;
                display: inline-block;

                &::after {
                    content: "";
                    position: absolute;
                    top: 50%;
                    left: 25%;
                    width: 50%;
                    height: 6px;
                    background: rgb(255, 255, 255);
                }
            }

            .new {
                color: var(--title-font-color);
                font-size: 100px;
            }

            h4 {
                color: var(--bg-modules-item);
                margin: 10px 0 0 0;
                font-size: 20px;

                img {
                    height: 20px;
                }

                margin-bottom: 40px;
            }

            .payment-methods {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: center;
                margin-bottom: 40px;
                width: 80%;

                img {
                    width: 100%;
                }
            }

            .buy {
                border: 3px solid var(--buy-button-bg);
                width: 260px;
                border-radius: 28px;
                background-color: var(--buy-button-bg);
                padding: 14px 0px;
                color: #fff;
                font-size: 18px;
                text-transform: uppercase;
                font-family: "Autoradiographic", sans-serif;
                text-decoration: none;
                text-align: center;

                -webkit-box-shadow: 0px 0px 19px 5px rgba(4,170,109,0.25); 
                box-shadow: 0px 0px 19px 5px rgba(4,170,109,0.25);
            }
        }
    }

    .faqs-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        margin-top: 20px;
        margin-bottom: 50px;

        .faqs-title-wrapper {
            h1 {
                text-transform: uppercase;
                text-align: center;
                font-family: 'DreamOrphans', sans-serif;
                color: var(--title-font-color);
            }

            margin-bottom: 20px;
        }

        .faqs-accordion-wrapper {
            width: 90%;
            display: flex;
            flex-direction: column;
            row-gap: 10px;

            .faqs-accordion-item {
                .faqs-accordion-btn {
                    background-color: var(--title-font-color);
                    color: var(--modules-item-text);
                    border-radius: 10px;
                    font-family: 'Autoradiographic', sans-serif;
                    font-size: 12pt;
                    cursor: pointer;
                    padding: 18px;
                    width: 100%;
                    text-align: left;
                    border: none;
                    outline: none;
                    transition: 0.4s;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                }

                div {
                    padding: 0 15px;
                    display: none;
                    overflow: hidden;
                }
                
                a {
                    color: var(--title-font-color);
                }
            }
        }
    }
}

footer {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: center;
    font-family: Consolas, -apple-system;
    font-size: 12pt;
    color: var(--bg-modules-item);

    .icon-links {
        color: var(--bg-modules-item);
        text-decoration: none;
    }

    a {
        color: var(--bg-modules-item);
    }

}